@{
}
@model ASPNET_Karlsruhe_29_07.Models.Todo.Person

<h1>@ViewData["Title"]</h1>
<div>
    Test
</div>
<form method="post">
    <input type="text" name="Name" placeholder="Name"/>
    <input type="text" name="Birthday" placeholder="Geburtstag"/>
    <button type="submit">Erstellen</button>
</form>